<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-google-sheets-api" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>GSheetsApi</name><js-module name="GSheetsApi" src="www/GSheetsApi.js"><clobbers target="cordova.plugins.GSheetsApi" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="GSheetsApi"><param name="android-package" value="cordova-plugin-google-sheets-api.GSheetsApi" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/GSheetsApi.java" target-dir="src/cordova-plugin-google-sheets-api/GSheetsApi" /></platform></plugin>