<?xml version='1.0' encoding='utf-8'?>
<plugin
    id="cordova-plugin-google-sheets"
    version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
  <name>Google Sheets</name>
  <js-module name="GoogleSheets" src="www/GoogleSheets.js">
    <clobbers target="cordova.plugins.GoogleSheets"/>
  </js-module>
  <platform name="android">
    <framework src="./rules.gradle" custom="true" type="gradleReference" />
    <framework src="com.android.support:appcompat-v7:25.0.1" />
    <framework src="com.google.android.gms:play-services-auth:10.2.6" />

    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="GoogleSheets">
        <param name="android-package" value="org.sumaq.plugins.googlesheets.GoogleSheets" />
      </feature>
      <access origin="https://accounts.google.com/*" />
      <access origin="https://sheets.googleapis.com/*" />
    </config-file>
    <config-file parent="/manifest" target="AndroidManifest.xml">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.GET_ACCOUNTS" />
      <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    </config-file>
    <source-file src="src/android/GoogleSheets.java" target-dir="src/org/sumaq/plugins/googlesheets" />
    <source-file src="src/android/SheetsOperations.java" target-dir="src/org/sumaq/plugins/googlesheets" />
    <source-file src="src/android/ValuesOperations.java" target-dir="src/org/sumaq/plugins/googlesheets" />
    <source-file src="src/android/SpreadsheetsOperations.java" target-dir="src/org/sumaq/plugins/googlesheets" />
    <config-file parent="/*" target="res/values/strings.xml">
      <string name="google_play_services_request">%1$s requires Google Play Services. Please Install Google Play Services on your device and relaunch the app.
      </string>
      <string name="account_permission_request">%1$s needs to access your Google account (via Contacts).</string>
    </config-file>
  </platform>

</plugin>
